<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %>.</p>

        <a class="button" href="/personnel">Personnel</a>
      </div>
    </main>

    <%- include('../layout/foot.ejs') -%>
  </body>
</html>
