<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head.ejs') -%>
    </head>
    <body>
        <%- include('../../layout/header.ejs') -%>

        <main>
            <div class="hero">
              <h1><%= title %></h1>

              <p>Listing the Personnel who work in every warehouse.</p>

              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                  </tr>
                </thead>

                <tbody>
                    <% if (personnel) {%>
                      <% personnel.forEach(p => { %>
                        <tr>
                          <td><%= p.id %></td>
                          <td><%= p.firstName %></td>
                          <td><%= p.lastName %></td>
                        </tr>
                      <% }); %>
                    <% } %>
                  </tbody>

              </table>

              <p>This is the result of the following query:</p>
              <pre>
  SELECT DISTINCT id, first_name, last_name
  FROM personnel P
  WHERE NOT EXISTS (
    SELECT DISTINCT W.id
    FROM warehouse W
    EXCEPT (
      SELECT DISTINCT N.warehouse_id
      FROM works_in N
      WHERE N.pid = P.id
    )
  );
              </pre>

            </div>
          </main>

        <%- include('../../layout/foot.ejs') -%>
    </body>
</html>
